/* Place CSS styles here */
body  { 
  font-size: 50px;
  font-weight: bold;
  font-family: system-ui, sans-serif;
  line-height: 1.4;
  margin: 16px;
  background-color: #1d1c1c;
  <h1 style="color:#ffffff;">hello.</h1>
  <p style="color:#ffffff;">&nbsp; &nbsp; &nbsp; about me</p>


<div><span></span></div></body>
<h1 style="color:#ffffff;">hello.</h1>
<p style="color:#ffffff;">&nbsp; &nbsp; &nbsp; about me</p>
<div><span></span></div>

 }
 

    }
}
.Subheading {
  font-size: 20px;
  font-weight: normal;
  font-family: Helvetica, Helvetica, sans-serif, Helvetica, sans-serif, 
  line-height: 1.4;
  margin: 16px;
  color: white;
}
a {
  text-decoration: none;
}

img {
  width: 200px
}

h1 { 
  font-size: 50px;
  text-align: center;
}

p {
  font-size: 16px;
  text-align: left;
  font-weight: normal;
}

h2 {
  font-size: 24px;
  text-align: left;

}