/* Place CSS styles here */
body  { 

<img src="img/cd1.jpg" alt="song one" style="width:200px;height:200px; border-radius:50%;">
  font-size: 50px;
  font-weight: bold;
  font-family: system-ui, sans-serif;
  line-height: 1.4;
  margin: 16px;
  background-color: #1d1c1c;
  <h1 style="color:#ffffff;">hello.</h1>
  <h2 style="color:#ffffff;">about me</h2>
 

  h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}




Subheading {
  font-size: 20px;
  font-weight: normal;
  font-family: Helvetica, Helvetica, sans-serif, Helvetica, sans-serif, 
  line-height: 1.4;
  margin: 16px;
  color: white;
}

a {
  text-decoration: none;
}

img {
  width: 200px
}

h1 { 
  font-size: 50px;
  text-align: center;
}

p {
  font-size: 16px;
  text-align: left;
  font-weight: normal;
}

h2 {
  font-size: 24px;
  text-align: left;

}